@import "tailwindcss";
@plugin "daisyui"{
    themes: "forest"
};

@layer base{
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor:pointer;
    }
}

[data-liveblocks-portal] > div:last-child,
.liveblocks-watermark {
  display: none !important;
}